<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="">
  <form [formGroup]="loginForm">
    <ion-grid>
      <ion-row color="justify-content-center">
        <ion-col class="ion-align-self-center" size-md="6" size-lg="5" size-xs="12">

          <div class="ion-padding">

            <ion-item>
              <ion-label position="fixed">Email</ion-label>
              <ion-input  name="email" formControlName="email" type="email" placeholder="your@email.com"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="fixed">Password</ion-label>
              <ion-input name="password" formControlName="password"  type="password" placeholder="Password"></ion-input>
            </ion-item>
          </div>

          <div class="ion-text-center">
            <a href="forget-password"> Forgot Password? </a>
           </div>

          <div class="ion-padding">
            <ion-button size="large" [disabled]="" (click)="save()"  color="dark" type="submit" expand="block">Login
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>

