<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Vegetable Bazaar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="">

    <ion-grid>
      <ion-row color="justify-content-center">
        <ion-col class="ion-align-self-center" size-md="6" size-lg="5" size-xs="12">

          <div class="ion-padding">

            <ion-item>
              <ion-label class="ion-text-center"><h1>Signin / Register </h1></ion-label>
            </ion-item>
          
          </div>
          <div class="ion-padding">
            <ion-button  size="medium" (click)="signinpage()" color="success" type="submit" expand="block">
              Signin<ion-icon name="log-in"></ion-icon>
            </ion-button>
          </div>
          <div class="ion-padding">
            
            <ion-button size="medium" (click)="registerpage()" color="success" type="submit" expand="block">
              Register<ion-icon name="add-circle-outline"></ion-icon>
            </ion-button>
          </div>

        </ion-col>
      </ion-row>
    </ion-grid>

</ion-content>
