<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Recover your account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row color="justify-content-center">
      <ion-col class="ion-align-self-center" size-md="6" size-lg="5" size-xs="12">

        <div class="ion-padding">
          <ion-item>
            <ion-input name="recoveremail"  type="email" placeholder="your@email.com"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Security Question1: Enter your birth place?*</ion-label>
               <ion-input></ion-input>
          </ion-item>
               <ion-item>
               <ion-label position="floating">Security Question2: In which month you were born?*</ion-label>
               <ion-input></ion-input>
          </ion-item>
          <ion-item>
            <ion-input name="newpassword"  type="password" placeholder="New Password"></ion-input>
          </ion-item> 
          <ion-item>
            <ion-input name="newcpassword"  type="password" placeholder="Confirm New Password">
            </ion-input>
          </ion-item>
        </div>

        <div class="ion-padding">
          <ion-button size="large" [disabled]="" color="dark" type="submit" expand="block">Submit
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>